<?xml version="1.0"?>
<config>
    <modules>
        <Timvroom_Inventorymonitor>
            <version>1.0.0</version>
        </Timvroom_Inventorymonitor>
    </modules>
    <global>
        <blocks>
            <inventorymonitor>
                <class>Timvroom_Inventorymonitor_Block</class>
            </inventorymonitor>
        </blocks>
        <helpers>
            <inventorymonitor>
                <class>Timvroom_Inventorymonitor_Helper</class>
            </inventorymonitor>
        </helpers>
        <models>
            <inventorymonitor>
                <class>Timvroom_Inventorymonitor_Model</class>
                <resourceModel>inventorymonitor_resource</resourceModel>
            </inventorymonitor>
            <inventorymonitor_resource>
                <class>Timvroom_Inventorymonitor_Model_Resource</class>
                <entities>
                    <monitor>
                        <table>inventorymonitor_monitor</table>
                    </monitor>
                </entities>
            </inventorymonitor_resource>
        </models>
        <resources>
            <inventorymonitor_setup>
                <setup>
                    <module>Timvroom_Inventorymonitor</module>
                </setup>
            </inventorymonitor_setup>
        </resources>
        <events>
            <cataloginventory_stock_item_save_before>
                <observers>
                    <timvroom_inventorymonitor>
                        <class>inventorymonitor/observer</class>
                        <method>cataloginventoryStockItemSaveBefore</method>
                        <type>singleton</type>
                    </timvroom_inventorymonitor>
                </observers>
            </cataloginventory_stock_item_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Timvroom_Inventorymonitor after="Mage_Adminhtml">Timvroom_Inventorymonitor_Adminhtml</Timvroom_Inventorymonitor>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
